// Primary Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// Neutral Colors
$grey-500: hsl(234, 12%, 34%);
$grey-400: hsl(212, 6%, 44%);
$white: hsl(0, 0%, 100%);

// Spacing Variables
$spacing-500: 2.5rem; // 40px
$spacing-400: 2rem;   // 32px
$spacing-300: 1.5rem; // 24px
$spacing-200: 1rem;   // 16px
$spacing-100: 0.5rem; // 8px

// Typography Mixins
@mixin text-preset-1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* Semibold */
  font-size: 2.25rem; /* 36px = 2.25rem */
  line-height: 140%;
  letter-spacing: 0.015625rem; /* 0.25px = 0.015625rem */
}

@mixin text-preset-2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200; /* Extra Light */
  font-size: 2.25rem; /* 36px = 2.25rem */
  line-height: 140%;
  letter-spacing: 0.015625rem; /* 0.25px = 0.015625rem */
}

@mixin text-preset-3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* Semibold */
  font-size: 1.25rem; /* 20px = 1.25rem */
  line-height: 135%;
  letter-spacing: 0rem; /* 0px = 0rem */
}

@mixin text-preset-4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 0.9375rem; /* 15px = 0.9375rem */
  line-height: 140%;
  letter-spacing: 0rem; /* 0px = 0rem */
}

@mixin text-preset-5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 0.8125rem; /* 13px = 0.8125rem */
  line-height: 160%; /* 160% Line Height */
  letter-spacing: 0rem; /* 0px = 0rem */
}